@import "normalize.less";

*
{
    font-family: "微软雅黑", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

input, textarea, input:focus, textarea:focus
{
    outline: none;
}
